<div class="container">
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary btn-lg" href="admin/prise/de/service/crud/" role="button" style="width:100%"><i class="far fa-clock"></i></br> Prise et Fin de service</a>
    </div>
    <div class="col-sm">
        <a class="btn btn-primary btn-lg" href="admin/ronde/controller/crud" role="button" style="width:100%"><i class="fas fa-eye"></i></br>Rondes</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary btn-lg" href="admin/consignes/controller/crud/" role="button" style="width:100%"><i class="far fa-file-alt fa-lg"></i></br>Consignes</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary btn-lg" href="admin/messages" role="button" style="width:100%"><i class="far fa-envelope fa-lg"></i></br>Messagerie</a>
    </div>
  </div>
</div>