<form method="post" action="{{ path('app_ronde_controller_crud_delete', {'id': ronde.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ronde.id) }}">
    <button class="btn">Supprimer</button>
</form>
