{% extends 'base.html.twig' %}

{% block title %}Rondes{% endblock %}

{% block body %}
    <div class="container">
        <h1>Rondes</h1>


        <a href="{{ path('app_ronde_controller_crud_new') }}">Enregistrer une ronde</a>
        </div>
{% endblock %}
