{% extends 'base.html.twig' %}

{% block title %}Rondes{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Rondes</h1>

        


        <a class="btn btn-primary" href="{{ path('app_ronde_controller_crud_new') }}">Enregistrer une ronde</a>
        </div>
{% endblock %}
