{% extends 'base.html.twig' %}

{% block title %}New SiteUser{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new SiteUser</h1>

        {{ include('site_user_controller_crud/_form.html.twig') }}

        <a href="{{ path('app_site_user_controller_crud_index') }}">back to list</a>
    </div>
{% endblock %}
