{% extends 'base.html.twig' %}

{% block title %}Edit Entreprise{% endblock %}

{% block body %}
 
    <div class="container">
       <h1 class="text-center">Compte entreprise</h1>

        {{ include('entreprise_controller_crud/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="btn btn-primary" href="{{ path('app_entreprise_controller_crud_index') }}">Retour</a>

        {{ include('entreprise_controller_crud/_delete_form.html.twig') }}
    </div>
{% endblock %}
