{% extends 'base.html.twig' %}

{% block title %}New Entreprise{% endblock %}

{% block body %}
<div class="container">
       <h1 class="text-center">Renseignez les informations de votre entreprise:</h1>
    

    {{ include('entreprise_controller_crud/_form.html.twig') }}

    <a href="{{ path('app_entreprise_controller_crud_index') }}">back to list</a>
    </div>
{% endblock %}
