{% extends 'base.html.twig' %}

{% block title %}Edit Rapport{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Rapport</h1>

        {{ include('rapport_controller_crud/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_rapport_controller_crud_index') }}">back to list</a>

        {{ include('rapport_controller_crud/_delete_form.html.twig') }}
    </div>
{% endblock %}
