{% extends 'base.html.twig' %}
    

        {% block title %}New Rapport{% endblock %}

        {% block body %}
    <div class="container">
            <h1 class="text-center">Rédaction rapport</h1>

            {{ include('rapport_controller_crud/_form.html.twig') }}

            </br>
            <a class="btn btn-primary" href="{{ path('app_rapport_controller_crud_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
