{% extends 'base.html.twig' %}

{% block title %}Edit Poste{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Modifier</h1>

        {{ include('poste_controller_crud/_form.html.twig', {'button_label': 'Mise à jour'}) }}

        <a class="btn btn-primary" href="{{ path('app_poste_controller_crud_index') }}">Retour</a>

        {{ include('poste_controller_crud/_delete_form.html.twig') }}
    </div>
{% endblock %}
