{% extends 'base.html.twig' %}

{% block title %}New Poste{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Ajouter une affectation à un site</h1>

        {{ include('poste_controller_crud/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('app_poste_controller_crud_index') }}">Retour</a>
    </div>
{% endblock %}
